In [41]:
import pandas as pd
import numpy as np
import boto3

In [42]:
client = boto3.client('s3')

In [43]:
path = 'https://mlops-data-course5i13.s3.ap-south-1.amazonaws.com/dataset.csv'

In [44]:
df = pd.read_csv(path)
df.head(5)

,Id,Title,Info
0,s1,Dick Johnson Is Dead,As her father nears the end of his life filmm...
1,s2,Blood & Water,After crossing paths at a party a Cape Town t...
2,s3,Ganglands,To protect his family from a powerful drug lor...
3,s4,Jailbirds New Orleans,Feuds flirtations and toilet talk go down amo...
4,s5,Kota Factory,In a city of coaching centers known to train I...

# Missing Values

In [45]:
df.isna().sum()
df=df.drop("Id",axis=1)

In [46]:
df.to_csv('Netflix_Movie.csv',index=False,mode='w')